*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

/* Global css */

.icon{
    height: 50px;
    margin-bottom: 20px;
}

.logo{
    display: grid;
    justify-items: center;
}

.header{
    width: 100%;
    padding-top: 30px;
    color: white;
}

/* Css for navbar */

.nav{
    margin-top: 30px;
    width: 100%;
}

.nav-parent{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.nav-link{
    list-style-type: none;
    width: 30%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-family: poppins;
    font-size: 18px;
    transition: .4s;
    cursor: pointer;
}

.nav-link:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}

/* Css for calculator section */

td{
    width: 50px;
    text-align: center;
    padding: 25px 55px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

td:hover{
    background-color: rgb(60, 171, 214);
    color: black;
    font-weight: bold;
}

.calculator{
    display: grid;
    width: 100%;
    justify-content: center;
}

.number_container{
    margin-top: 80px;
    border: solid;
}

.numbers_table{
    border-radius: 30px;
    overflow: hidden;
}

#op{
    width: 50%;
    border-radius: 20px;
    background-color: rgb(71, 15, 104);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 20%;
}

/* The toast - position it at the bottom and in the middle of the screen */
#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on bottom of the screen */
    left: 50%; /* Center the toast */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the toast when clicking on a button (class added with JavaScript) */
  #toast.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }